<ion-view title="Acerca de la App" id="page3">
  <ion-content padding="true" class="has-header">
    <div>
      <h4 style="text-align: center;">
        <span style="color: #ff6600;">
          <strong>GUÍA PROGRESAR 2019</strong>
        </span>
      </h4>
      <h4 style="text-align: center;">
        <span style="color: #ff6600;">
          <strong>versión 1.0.0</strong>
        </span>
      </h4>
      <hr>
      <p style="text-align: center;">&nbsp;</p>
      <h4 style="text-align: center;">
        <strong>Diseño y desarrollo de la APP</strong>
      </h4>
      <h4 style="text-align: center;">
        <strong>Marcos Nieto</strong>
      </h4>
      <p>Coordinador de Prensa y Difusión del Centro de Estudiantes de Ingenierías Civil, Industrial, Agroindustrial, de Minas, en Alimentos, Agronómica, Geología y Tecnicatura en Electro-Electrónica&nbsp;- INGEOTEC.</p>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div>
      <img src="img/Xu5rTW9SLG8PkRNbZgDJ_Logo-INGEOTEC-2-con-centro.png" style="display: block; width: 35%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="acercaDeLaApp-list3">
      <ion-item class="item-divider" id="acercaDeLaApp-list-item-divider1"> Contacto</ion-item>
      <ion-item class="item-avatar dark" id="acercaDeLaApp-list-item13" href-inappbrowser="https://api.whatsapp.com/send?phone=543804529789">
        <img src="img/CaoEi9iQq21lYGfCZemz_580b57fcd9996e24bc43c543.png">
        <h2dark>Whatsapp
          <p>54-3804-529789</p>
        </h2dark>
      </ion-item>
      <ion-item class="item-avatar dark" id="acercaDeLaApp-list-item14" href-inappbrowser="https://www.facebook.com/marcos.nieto17">
        <img src="img/qklef6zPRqevqiSUQTPv_logotipo-oficial-facebook-2014.png">
        <h2dark>Facebook
          <p>@marcos.nieto17</p>
        </h2dark>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>