<ion-view title="Contacto" id="page2">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/ZA0oSxS5SiaEYwIk5iOc_Logo-INGEOTEC-2-con-centro.png" style="display: block; width: 40%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="contacto-list4">
      <ion-item class="item-avatar dark" id="contacto-list-item15" href-inappbrowser="http://www.ingeotec.tk/">
        <img src="img/DskJNB97SI6RIpYHCbEx_LogoGrupo003.jpg">
        <h2dark>Sitio Web
          <p>www.ingeotec.tk</p>
        </h2dark>
      </ion-item>
      <ion-item class="item-avatar dark" id="contacto-list-item16" href-inappbrowser="https://api.whatsapp.com/send?phone=543804791665">
        <img src="img/ulz3DGkQ2iYj6mytAbLJ_580b57fcd9996e24bc43c543.png">
        <h2dark>Whatsapp
          <p>54-3804-791665</p>
        </h2dark>
      </ion-item>
      <ion-item class="item-avatar dark" id="contacto-list-item17" href-inappbrowser="https://www.facebook.com/ingeotec.unlar/">
        <img src="img/iowILCAZQTOKN4Df6GiR_logotipo-oficial-facebook-2014.png">
        <h2dark>Facebook
          <p>@ingeotec.unlar</p>
        </h2dark>
      </ion-item>
      <ion-item class="item-avatar dark" id="contacto-list-item18" href-inappbrowser="https://www.instagram.com/ingeotec.unlar/">
        <img src="img/Qrg0wTZQDi8sEt9nIssH_instagram_PNG9.png">
        <h2dark>Instagram
          <p>@ingeotec.unlar</p>
        </h2dark>
      </ion-item>
      <ion-item class="item-avatar dark" id="contacto-list-item19" href-inappbrowser="https://mobile.twitter.com/IngeotecUnlar">
        <img src="img/tLYVL9YSTi21yhQPDMLA_rm2ffQvpROcbyL1iRPKJ_twitterlogodown.png">
        <h2dark>Twitter
          <p>@ingeotec.unlar</p>
        </h2dark>
      </ion-item>
      <ion-item class="item-avatar dark" id="contacto-list-item20" href-inappbrowser="mailto:ingeotecunlar@gmail.com">
        <img src="img/vJByUKdBReGg32L6eFPb_gmail-logo-png-transparent-background-8.png">
        <h2dark>Correo Electrónico
          <p>ingeotecunlar@gmail.com</p>
        </h2dark>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>