<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-energized">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="side-menu21"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left" id="side-menu21" style="background-color:#F89951;">
    <ion-header-bar class="bar-energized">
      <div class="title">GUÍA PROGRESAR 2019</div>
    </ion-header-bar>
    <ion-content padding="false" class="side-menu-left has-header ">
      <div>
        <img src="img/tQTrq7OGR1eh493Klkt4_Logo-INGEOTEC-2-con-centro.png" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="spacer" style="height: 10px;"></div>
      <ion-list id="gUAPROGRESAR2019-list1">
        <ion-item class="item-icon-left positive" id="gUAPROGRESAR2019-list-item1" ui-sref="gUAPROGRESAR2019.inicio()" menu-close="">
          <i class="icon ion-share"></i>Inicio</ion-item>
        <ion-item class="item-icon-left positive" id="gUAPROGRESAR2019-list-item10" ui-sref="gUAPROGRESAR2019.registroDeUsuario()" menu-close="">
          <i class="icon ion-share"></i>Registro de Usuario</ion-item>
        <ion-item class="item-icon-left positive" id="gUAPROGRESAR2019-list-item11" ui-sref="gUAPROGRESAR2019.procesoDeInscripciN()" menu-close="">
          <i class="icon ion-share"></i>Proceso de Inscripción</ion-item>
        <ion-item class="item-icon-left positive" id="gUAPROGRESAR2019-list-item12" ui-sref="gUAPROGRESAR2019.preguntasFrecuentes()" menu-close="">
          <i class="icon ion-share"></i>Preguntas Frecuentes</ion-item>
        <ion-item class="item-icon-left positive" id="gUAPROGRESAR2019-list-item22" ui-sref="gUAPROGRESAR2019.resultados()" menu-close="">
          <i class="icon ion-share"></i>Resultados</ion-item>
        <ion-item class="item-icon-left positive" id="gUAPROGRESAR2019-list-item2" ui-sref="gUAPROGRESAR2019.contacto()" menu-close="">
          <i class="icon ion-share"></i>Contacto</ion-item>
        <ion-item class="item-icon-left positive" id="gUAPROGRESAR2019-list-item3" ui-sref="gUAPROGRESAR2019.acercaDeLaApp()" menu-close="">
          <i class="icon ion-share"></i>Acerca de la App</ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>