<ion-view title="Inicio" hide-nav-bar="true" id="page1" style="background-color:#F89951;">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/gW2TJ6IR6ysYvGJOwNJA_Progresar2019......png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="inicio-list2">
      <ion-item class="item-icon-left positive" id="inicio-list-item4" ui-sref="gUAPROGRESAR2019.requisitos()">
        <i class="icon ion-ios-compose"></i>Requisitos</ion-item>
      <ion-item class="item-icon-left positive" id="inicio-list-item7" ui-sref="gUAPROGRESAR2019.registroDeUsuario()">
        <i class="icon ion-android-contact"></i>Registro de Usuario</ion-item>
      <ion-item class="item-icon-left positive" id="inicio-list-item5" ui-sref="gUAPROGRESAR2019.procesoDeInscripciN()">
        <i class="icon ion-ios-browsers"></i>Proceso de Inscripción</ion-item>
      <ion-item class="item-icon-left positive" id="inicio-list-item6" ui-sref="gUAPROGRESAR2019.preguntasFrecuentes()">
        <i class="icon ion-speakerphone"></i>Preguntas Frecuentes</ion-item>
      <ion-item class="item-icon-left positive" id="inicio-list-item21" ui-sref="gUAPROGRESAR2019.resultados()">
        <i class="icon ion-star"></i>Resultados</ion-item>
      <ion-item class="item-icon-left positive" id="inicio-list-item8" ui-sref="gUAPROGRESAR2019.contacto()">
        <i class="icon ion-social-whatsapp"></i>Contacto</ion-item>
      <ion-item class="item-icon-left positive" id="inicio-list-item9" ui-sref="gUAPROGRESAR2019.acercaDeLaApp()">
        <i class="icon ion-ios-loop-strong"></i>Acerca de la App</ion-item>
    </ion-list>
  </ion-content>
</ion-view>