<ion-view title="Preguntas Frecuentes" id="page7">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <p>
        <span style="color: #ff6600;">
          <strong>¿Cómo está formado mi grupo familiar a los fines de la evaluación socioeconómica?</strong>
        </span>
        <span style="background-color: #000000;">
          <br>
        </span>
      </p>
      <p>Consideramos a tu grupo familiar; tu padre, madre, tutor o pareja conviviente.</p>
      <p>
        <br>
        <strong>
          <span style="color: #ff6600;">¿Mi grupo familiar no es correcto, qué hago?</span>
        </strong>
      </p>
      <p>Si alguno de los datos no son correctos, tenés 20 días hábiles desde la fecha de la
        <br>publicación de los resultados para hacer el reclamo en ANSES.</p>
      <p>
        <br>
        <strong>
          <span style="color: #ff6600;">¿Tengo una beca, me tengo que inscribir de nuevo?</span>
        </strong>
      </p>
      <p>Si, debés inscribirte nuevamente.</p>
      <p>
        <br>
        <span style="color: #ff6600;">
          <strong>¿Qué pasa si ya soy parte de Progresar? ¿Dejo de recibir el apoyo económico?</strong>
        </span>
      </p>
      <p>Los beneficiarios que hayan percibido Progresar durante 2018, y luego de la inscripción no acrediten un avance según el plan de estudios de la carrera del cincuenta por ciento (50%)de materias aprobadas de su trayectoria general, pero si cumplan
        con el requisito de tener dos materias aprobadas durante el ciclo lectivo 2018, tendrán durante 2019 una Beca Progresar Inicial de $1600 como un estímulo para alcanzar los requisitos para ingresar.</p>
      <p>&nbsp;</p>
      <p>
        <span style="color: #ff6600;">
          <strong>¿Cuánto me pagarán por mi beca?</strong>
        </span>
      </p>
      <p>Formación Superior: de 1600 a 2300 pesos por mes. Si estás estudiando alguna carrera estratégica tu beca va ir de 1800 a 4900 pesos por mes.</p>
      <p>
        <br>
        <strong>
          <span style="color: #ff6600;">¿Cómo sé si obtuve una beca?</span>
        </strong>
      </p>
      <p>Si son de Universidad o Terciario, tendrás que ingresar a
        <br>
        <a href="https://becasprogresar.educacion.gob.ar">https://becasprogresar.educacion.gob.ar</a> y tendrás tu resultado.</p>
      <p>&nbsp;</p>
      <p>
        <span style="color: #ff6600;">
          <strong>¿Dónde retiro mi tarjeta de débito?</strong>
        </span>
      </p>
      <p>La tarjeta de débito la vas a poder retirar en el banco que te adjudiquen, presentando tu DNI.</p>
      <p>
        <br>
        <span style="color: #ff6600;">
          <strong>En caso de mudanza, ¿debo informarlo?</strong>
        </span>
      </p>
      <p>Si, ante cualquier variación personal relevante debes informarlo dentro de los 30 días hábiles. Sea por mudanza, cambio de trabajo o situación familiar.</p>
      <p>&nbsp;</p>
      <p>
        <span style="color: #ff6600;">
          <strong>¿Es posible modificar mi formulario de inscripción?</strong>
        </span>
      </p>
      <p>Una vez enviado no podés realizar modificaciones.</p>
      <p>&nbsp;</p>
      <p>
        <span style="color: #ff6600;">
          <strong>¿El beneficio de la beca cesa?</strong>
        </span>
      </p>
      <p>Sí, en varios casos:</p>
      <p>► Vencimiento de la beca.
        <br>► Muerte del beneficiario.
        <br>► Por renuncia al beneficio.
        <br>► Por modificación de alguna de las causas que justificaron su otorgamiento.
        <br>► Porque concluye su carrera.
        <br>► Por abandono de estudios.
        <br>► Por perder la condición de alumno regular.
        <br>► Por omitir o dar información falsa al programa.
        <br>► Por incumplimiento de cualquiera de las obligaciones que tiene el beneficiario de la beca
        <br>(Esto se considera grave y no podrá volver a inscribirse en el programa).</p>
      <p>Si incumplís en las causales identificadas como 6, 7 y 9 no podrás volver a inscribirte en el
        <br>programa durante el plazo de un año calendario.</p>
      <p>&nbsp;</p>
      <p>
        <strong>
          <span style="color: #ff6600;">Modalidades y montos</span>
        </strong>
      </p>
      <p>
        <br>► CARRERAS UNIVERSITARIAS: El monto establecido es de pesos un mil
        <br>seiscientos ($1.600) para los estudiantes de primer (1°) y segundo (2°)
        <br>año; pesos un mil novecientos ($1.900) para los estudiantes de tercer (3°)
        <br>y cuarto (4°) año y pesos dos mil trescientos ($2.300) para los estudiantes
        <br>de quinto (5°) año;</p>
      <p>► CARRERAS UNIVERSITARIAS ESTRATÉGICAS: El monto establecido es de
        <br>pesos un mil ochocientos ($1.800) para los estudiantes de primer (1°) año;
        <br>pesos dos mil doscientos ($2.200) para los estudiantes de segundo (2°)
        <br>año; pesos dos mil novecientos ($2.900) para los estudiantes de tercer (3°)
        <br>año; pesos tres mil ochocientos ($ 3.800) para los estudiantes de cuarto
        <br>(4°) año y pesos cuatro mil novecientos ($4.900) para los estudiantes de
        <br>quinto (5°) año</p>
      <p>► CARRERAS DE EDUCACIÓN SUPERIOR NO UNIVERSITARIAS: El monto
        <br>establecido es de pesos un mil seiscientos ($1.600) para los estudiantes de
        <br>primer (1°) y segundo (2°) año y pesos un mil novecientos ($1.900) para
        <br>los estudiantes de tercer (3°) y cuarto (4°) año;</p>
      <p>► CARRERAS ESTRATÉGICAS DE EDUCACIÓN SUPERIOR NO UNIVERSITARIAS:
        <br>El monto establecido es de pesos un mil ochocientos ($1.800) para los
        <br>estudiantes de primer (1°) año; pesos dos mil ($2.000) para los estudiantes
        <br>de segundo (2°) año y pesos dos mil seiscientos ($2.600) para los
        <br>estudiantes de tercer (3°) año.
        <br>Criterios de selección: La evaluación de los requisitos exigidos estará conformada por dos (2)
        <br>etapas, la evaluación socioeconómica y la evaluación académica.</p>
      <p>&nbsp;</p>
      <p>
        <strong>
          <span style="color: #ff6600;">Evaluación socioeconómica</span>
        </strong>
      </p>
      <p>Se realizará a través de la Administración Nacional de la Seguridad Social (ANSES) en función de los ingresos del postulante y los de su grupo familiar que se registren en las bases de datos de dicho organismo, al momento de la inscripción. Entiéndase
        por ingresos a la suma de las remuneraciones brutas de los trabajadores en relación de dependencia registrados, con exclusión de las horas extras, la asignación familiar por maternidad o maternidad Down, el plus por zona desfavorable y el sueldo
        anual complementario; las rentas de referencia de los trabajadores autónomos y monotributistas; los haberes de jubilación y pensión, al monto de la prestación por desempleo y las sumas brutas originadas en prestaciones contributivas y/o no contributivas
        de cualquier índole.</p>
      <p>
        <br>
        <strong>
          <span style="color: #ff6600;">La evaluación académica</span>
        </strong>
      </p>
      <p>Se realizará de acuerdo a la información brindada por las instituciones educativas correspondientes. El año de ingreso se determinará por la fecha del primer (1°) examen final rendido. La evaluación académica se realizará conforme a:</p>
      <p>1) El año de ingreso definido por el presente apartado y en virtud de información brindada por cada institución respectiva;</p>
      <p>2) La duración de la carrera según plan de estudios y en virtud de información brindada por cada institución educativa;</p>
      <p>3) La cantidad de materias según plan de estudios y en virtud de la información brindada por cada institución educativa.</p>
      <p>
        <br>
        <strong>
          <span style="color: #ff6600;">Plazos de las becas</span>
        </strong>
      </p>
      <p>Las becas serán anuales, debiendo inscribirse o en su caso reinscribirse, durante la convocatoria que se establezca oportunamente para cada año calendario.</p>
      <p>
        <br>
        <strong>
          <span style="color: #ff6600;">Gestión de pagos</span>
        </strong>
      </p>
      <p>El pago de la beca estará a cargo de la Administración Nacional de la Seguridad Social (ANSES) por cuenta y orden del Ministerio de Educación, Cultura, Ciencia y Tecnología y se realizará en hasta diez (10) cuotas mensuales, desde el momento de
        la adjudicación de la beca.</p>
      <p>
        <br>
        <span style="color: #ff6600;">
          <strong>Proporcionalidad</strong>
        </span>
      </p>
      <p>Para el caso de los becarios ingresantes la proporción del pago será de ochenta por ciento (80%) del total de la beca desde la primera cuota, y el veinte por ciento (20%) retenido será abonado una vez realizada la certificación académica de avance
        en la carrera por parte de la institución. Para el caso de los becarios avanzados hayan o no sido becarios con anterioridad, se les abonará el cien por ciento (100%) del monto de la misma desde la primera cuota siempre que se acredite haber aprobado
        más del cincuenta por ciento (50%) de las materias según plan de estudios y año de cursada.</p>
      <p>&nbsp;</p>
    </div>
  </ion-content>
</ion-view>