<ion-view title="Proceso de Inscripción" id="page6">
  <ion-content padding="true" class="has-header">
    <div>
      <p>1) Una vez que ingresás a la página te encontrarás con esta página de inicio, donde deberás completar la solicitud en 3 pasos, seleccionando:</p>
      <p>
        <span style="color: #ff6600;">1</span>. Datos Personales</p>
      <p>
        <span style="color: #ff6600;">2.</span> Encuesta</p>
      <p>
        <span style="color: #ff6600;">3.</span> Datos Académicos</p>
    </div>
    <div></div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/9sMlWexRMezaDZD43H3p_05.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="procesoDeInscripciN-list10">
      <ion-item class="item-divider" id="procesoDeInscripciN-list-item-divider6"> </ion-item>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
    <p>2) La primera será de “
      <strong>
        <span style="color: #ff6600;">Datos Personales</span>
      </strong>”. Allí completarás tu información. Una vez finalizada la carga de tus datos tenés que cliquear en “Actualizar Datos”:</p>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/eIGoAG5xQuuhcTRcc65O_06.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="procesoDeInscripciN-list14">
      <ion-item class="item-divider" id="procesoDeInscripciN-list-item-divider10"> </ion-item>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
    <p>3) Luego debes completar la "Encuesta", las preguntas de la misma&nbsp;se proponen conocer mejor las trayectorias estudiantiles y los perfiles sociodemográficos de quienes se inscriben en las becas Progresar. Conocer estas características, así como
      las percepciones sobre el funcionamiento del Programa, permitirá realizar las mejoras necesarias para que se cumpla el objetivo de acompañar a las y los estudiantes en sus carreras. Lo que se responda en esta encuesta no incidirá en la adjudicación
      de la beca. Debes completar el 100% de la misma, avanzado desde el boton "Siguiente"</p>
    <div>
      <img src="img/HeUF2ZyRCKTIYEe098i0_07.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="procesoDeInscripciN-list11">
      <ion-item class="item-divider" id="procesoDeInscripciN-list-item-divider7"> </ion-item>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
    <p>4) Por último debes cargar los “Datos Académicos”. Aquí primero que nada debes seleccionar la línea de becas a la que te postulas, hay varios programas docentes, la Becas PRONAFE dirigidas a la carrera de Enfermería y las Becas Progresar.</p>
    <div
     >
      <img src="img/5YnDE2jBRUKw0fQgC7Mo_08.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="spacer" style="height: 20px;"></div>
      <ion-list id="procesoDeInscripciN-list12">
        <ion-item class="item-divider" id="procesoDeInscripciN-list-item-divider8"> </ion-item>
      </ion-list>
      <div class="spacer" style="height: 20px;"></div>
      <p>5) Ahora debes cargar los datos académicos, es importante que selecciones correctamente la Universidad a la que perteneces, tu departamento académico y finalmente la carrera que corresponde. Una vez que terminaste de cargar los datos académicos
        debes cliquear en “Guardar Datos Académicos”</p>
      <div>
        <img src="img/iiqFxV1OROWuRGNTve6d_09.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="spacer" style="height: 20px;"></div>
      <ion-list id="procesoDeInscripciN-list13">
        <ion-item class="item-divider" id="procesoDeInscripciN-list-item-divider9"> </ion-item>
      </ion-list>
      <div class="spacer" style="height: 20px;"></div>
      <p>6) Por último debes aceptar los término y condiciones de PROGRESAR y
        <br>cliquear en “Cerrar Inscripción (y enviar formulario)”:</p>
      <div>
        <img src="img/MyP155l2Rb6AtH66VYef_10.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <a ui-sref="gUAPROGRESAR2019.preguntasFrecuentes()" id="procesoDeInscripciN-button5" class="button button-energized button-block">Preguntas Frecuentes</a>
  </ion-content>
</ion-view>