<ion-view title="Registro de Usuario " id="page5">
  <ion-content padding="true" class="has-header">
    <p>1) Para comenzar la Inscripción al PROGRESAR tenés que ingresar al Sitio Web:
      <a href="https://becasprogresar.educacion.gob.ar">https://becasprogresar.educacion.gob.ar</a> y elegir la opción “Educación Superior”</p>
    <a href-inappbrowser="https://becasprogresar.educacion.gob.ar" id="registroDeUsuario-button6" class="button button-energized button-block">Ingreso Web Progresar</a>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/yTHcgW6dRjeqZZe2VOAG_01.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="registroDeUsuario-list5">
      <ion-item class="item-divider" id="registroDeUsuario-list-item-divider2"> </ion-item>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
    <p>2) Luego tenés que hacer un clic en "REGISTRARME"; debes ingresar tus datos personales e ingresar una contraseña que te servirá para acceder a la carga de datos. (Es importante que ingreses un correo actualizado ya que allí recibirás toda la información
      importante).</p>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/NCS4UwZRDuTUSd655wwr_02.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="registroDeUsuario-list7">
      <ion-item class="item-divider" id="registroDeUsuario-list-item-divider3"> </ion-item>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
    <p>3) Completás con tus datos personales y creas un usuario y contraseña, luego click en "crear usuario".</p>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/aA7pAf51TG6HyKDOFQQT_03.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="registroDeUsuario-list8">
      <ion-item class="item-divider" id="registroDeUsuario-list-item-divider4"> </ion-item>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
    <p>4) Una vez creado el usuario, hacer click en iniciar sesión e ingresar el
      <br>usuario y contraseña ya creados. Con esos datos podrás volver a ingresar a la&nbsp;página para ver toda la información actualizada del programa.</p>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/9DiaUvLTqaUTovRC6Trq_04.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="registroDeUsuario-list9">
      <ion-item class="item-divider" id="registroDeUsuario-list-item-divider5"> </ion-item>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
    <a ui-sref="gUAPROGRESAR2019.procesoDeInscripciN()" id="registroDeUsuario-button4" class="button button-energized button-block">Proceso de Inscripción</a>
    <div></div>
  </ion-content>
</ion-view>