<ion-view title="Resultados" id="page8">
  <ion-content padding="true" class="has-header">
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/ecF3urMhQvOwEHPQ0clP_Pagoredimensionado.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <h4>
        <span style="color: #000080;">
          <strong>RESULTADOS BECAS PROGRESAR</strong>
        </span>
      </h4>
      <p>Los estudiantes que se hayan inscrito a Becas Progresar pueden consultar el “
        <strong>Estado de su solicitud</strong>” en la plataforma. Si todos los datos se encuentran en orden, la página dirá “
        <strong>Solicitud en evaluación</strong>” y solo deberán aguardar a que se publiquen los resultados.</p>
      <p>En caso de existir algún inconveniente, la página les indicará que se presenten por la oficina del
        <strong>ANSES</strong> (sin turno) y con la documentación necesaria para completar los datos. Plazo máximo hasta el
        <strong>31 de mayo</strong>.</p>
    </div>
  </ion-content>
</ion-view>